# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
riskctl

# Test binary
*.test

# Go workspace
go.work
go.work.sum

# Coverage
*.out

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Generated mocks (mockery)
**/mock_*.go

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
